
/*/////////////////////////////screen 499 px////////////////////////*/
@media screen and (max-width: 499px) {
    body {
      text-align:center;
      font-size: 1em;
      text-decoration: underline;
      color:orange;
      background-color:#424242;
      }

    #France {
    max-width: 100%;
}

    div {
        margin:auto;
        margin-top: 30px;
    }
}


/*/////////////////////////////screen between 500px-1023px////////////////////////*/
@media screen and (min-width: 500px) and (max-width: 1023px) {
    body {
      text-align:center;
      font-size: 2em;
      text-decoration: underline;
      color:orange;
      background-color:#424242;
      margin-left: 0;
      }

  #France {
      max-width: 100%;
  }

div {
  margin-top: 50px;
    }
}


/*/////////////////////////////screen between 1024px and more///////////////////////*/
@media screen and (min-width: 1024px) {
    body {
      text-align:center;
      font-size: 2em;
      text-decoration: underline;
      color:orange;
      background-color:#424242;
      }

    div {
      text-align: center;
      margin-top: 50px;
    }
}
